body {
  padding: 50px 0;
}

.demo_section {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center
}

.demo_section:nth-child(1) .controls_row {
  margin: 30px 100px 30px 0;
}

.demo_section:nth-child(2) .controls_row {
  margin: 30px 0 30px 100px;
}
